spring:
  application:
    name: cinema-api
  datasource:
    url: jdbc:mysql://localhost:3306/cinema_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345678
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      show-sql: false
      open-in-view: false


    

